body .mobile{display:block}
body .desktop{display:none}

#header .logo {
    text-align:center;
    margin:0 auto;
}

.cards .card {
    width:100%;
    float:none;
    margin-left:0 !important;
    margin-right:0 !important;
    margin-bottom:1em;
}

.container #map {
    width:100%;
    display:block;
    padding: 3em 0;
}
.container .addr {
    width:98%;
    display:block;
    padding: 3em 1%;
}
body #responsive-nav .logo {
    display:inline-block;
}

#inner-wrapper .container #query-form {
    position:relative;
    width:100%;
}
